# deps
node_modules/
.venv/

# builds
dist/
.turbo/
.expo/
*.tsbuildinfo

# natif généré par prebuild (CNG : ne jamais committer, EAS le régénère)
apps/mobile/android/
apps/mobile/ios/

# env
.env
.env.local

# python
__pycache__/
*.egg-info/
.pytest_cache/

# os / ide
.DS_Store
.idea/
